body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.editor {
  position: absolute;
  inset: 0;
}

.edit-project {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.log-person,
.log-project,
.month-detail {
  padding: 0.5rem 0;
}

.commitlog pre,
.timesheet-dataset-contents pre {
  max-width: 100%;
}

table.sortable thead {
  background-color: rgb(216 222 233 / 0.7);
  color: rgb(59 66 82);
  cursor: default;
}

table.sortable td {
  font-size: 0.95rem;
}

.project-task .gantt_task_progress_drag .phase-task,
.gantt_task_progress_drag {
  display: none !important;
}

.regular-task .gantt_add {
  display: none;
}

.gantt_task_progress {
  text-align: left;
}

.gantt_task_content {
  text-align: left;
  padding-left: 5em;
}

.gantt_task_progress span {
  color: #fff;
  position: relative;
  z-index: 20;
  padding: 3px;
  margin-left: 3px;
  border-radius: 3px;
}
